.container {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: var(--rhc-nav-bar-container-inline-size);

  > * {
    flex: 1;
    max-inline-size: var(--rhc-nav-bar-max-inline-size);
    padding-inline-start: var(--rhc-nav-bar-link-padding-inline-start);
    padding-inline-end: var(--rhc-nav-bar-link-padding-inline-end);
  }
}

@media (--xs-and-below-viewport) {
  .container {
    > * {
      padding-inline-start: calc(
        var(--rhc-nav-bar-link-padding-inline-start) *
        0.5
      );
      padding-inline-end: calc(
        var(--rhc-nav-bar-link-padding-inline-end) *
        0.5
      );
    }
  }
}
