.sort {
  margin-block-end: 1rem;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: end;
  justify-content: flex-end;
}

.form select {
  min-inline-size: 10rem;
  padding-inline-end: 3rem;
}

@media (--xxs-and-below-viewport) {
  .form {
    flex-direction: column;
    align-items: stretch;
  }
}
