.form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: end;
  justify-content: flex-end;
}

.form select {
  order: 2;
  min-inline-size: 10rem;
  padding-inline-end: 3rem;
}

.form :global(.utrecht-form-field) {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.form :global(.utrecht-form-field__label) {
  flex: none;
  margin-block-end: 0;
  white-space: nowrap;
}

@media (--xs-and-below-viewport) {
  .form {
    flex-direction: column;
    align-items: stretch;
  }

  .form :global(.utrecht-form-field) {
    display: block;
  }

  .form :global(.utrecht-form-field__label) {
    margin-block-end: var(--utrecht-form-field-label-margin-block-end);
  }
}
