.search {
  --utrecht-textbox-border-width: 2px;
  --utrecht-textbox-border-radius: 5px;
  --utrecht-textbox-border-color: var(--rhc-color-cool-grey-900);
}

.form  {
  display: grid;
  grid-template-areas: "input button";
  grid-template-columns: auto min-content;
  align-items: end;
  gap: 0;
}

.input {
  grid-area: input;

  :global(.utrecht-textbox) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  :global(.utrecht-textbox--html-input:focus-visible) {
    position: relative;
    z-index: 1;
  }
}

.button:global(.utrecht-button) {
  grid-area: button;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
