.cardsList {
  --rhc-card-as-link-inline-size: 100%;
  --rhc-card-as-link-active-text-decoration: none;
  display: flex;
  flex-direction: column;
  row-gap: var(--rhc-space-200);
  padding-inline-start: 0;
  list-style-type: none;
}

:global(
    .rhc-card-as-link:hover
    .rhc-card-as-link__heading.rhc-card-as-link__heading
  ) {
  /* TODO: specifity */
  :global(.nl-heading) {
    text-decoration: underline;
  }
}
