.badgelist {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  padding: 0;
  list-style: none;

  &:empty {
    display: none;
  }
}

.badgelist--row {
  flex-direction: row;
}

.badgelist--row > * {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.badgelist--column {
  flex-direction: column;
}

.badgelist--table > * {
  display: inline-table;

  :global(.label) {
    display: table-caption;
  }

  :global(:not(.label)) {
    margin-inline-end: 0.25rem;
  }
}
