.badgelist {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  padding: 0;
  list-style: none;

  &:empty {
    display: none;
  }
}

.badgelist--row {
  flex-direction: row;
}

.badgelist--row > * {
  display: inline-flex;
  gap: 0.25rem;
}

.badgelist--column {
  flex-direction: column;
}
