.don-search-form {
  align-items: flex-end;
  display: flex;
  --don-search-button-border-radius: 0 var(--utrecht-button-border-radius) var(--utrecht-button-border-radius) 0;
  --don-search-textbox-border-radius: var(--utrecht-textbox-border-radius) 0 0 var(--utrecht-textbox-border-radius);
  --utrecht-textbox-focus-border-width: var(--utrecht-textbox-border-width);
}

.don-search-form__label {
  --utrecht-textbox-border-radius: var(--don-search-textbox-border-radius);
  min-inline-size: 300px;
}

:global(.utrecht-textbox:focus) {
  box-shadow: 0px 0px 0px 1px var(--utrecht-textbox-focus-border-color);
}

.don-search-button {
  --utrecht-button-border-radius: var(--don-search-button-border-radius);
  --utrecht-icon-color: var(--utrecht-button-color);

  svg {
    fill: var(--utrecht-icon-color);
  }
}
