---
export const prerender = false; // Not needed in 'server' mode
import appConfig from "../../../../../app.config";
import { DonOverview } from "@developer-overheid-nl/don-register-layouts"; // TODO: DetailLayout
const { organisation } = Astro.params;
---

<DonOverview appConfig={appConfig} titlePage="Filter">
    <h2>Filter</h2>
    <> met ID: {organisation}</>
</DonOverview>
