@font-face {
  font-style: normal;
  font-weight: 400;
  src:
    local('ROsanswebtextregular'),
    url('./ro/ROsanswebtextregular.woff') format('woff'),
    url('./ro/ROsanswebtextregular.eot') format('embedded-opentype'),
    url('./ro/ROsanswebtextregular.ttf') format('truetype');
  font-family: 'RijksoverheidSansWeb';
}
@font-face {
  font-style: normal;
  font-weight: 700;
  src:
    local('ROsanswebtextbold'),
    url('./ro/ROsanswebtextbold.woff') format('woff'),
    url('./ro/ROsanswebtextbold.eot') format('embedded-opentype'),
    url('./ro/ROsanswebtextbold.ttf') format('truetype');
  font-family: 'RijksoverheidSansWeb';
}
@font-face {
  font-style: italic;
  font-weight: 400;
  src:
    local('ROsanswebtextitalic'),
    url('./ro/ROsanswebtextitalic.woff') format('woff'),
    url('./ro/ROsanswebtextitalic.eot') format('embedded-opentype'),
    url('./ro/ROsanswebtextitalic.ttf') format('truetype');
  font-family: 'RijksoverheidSansWeb';
}
@font-face {
  font-style: normal;
  font-weight: 400;
  src:
    local('ROserifwebregular'),
    url('./ro/ROserifwebregular.woff') format('woff'),
    url('./ro/ROserifwebregular.eot') format('embedded-opentype'),
    url('./ro/ROserifwebregular.ttf') format('truetype');
  font-family: 'RijksoverheidSerifWeb';
}
@font-face {
  font-style: normal;
  font-weight: 700;
  src:
    local('ROserifwebbold'),
    url('./ro/ROserifwebbold.woff') format('woff'),
    url('./ro/ROserifwebbold.eot') format('embedded-opentype'),
    url('./ro/ROserifwebbold.ttf') format('truetype');
  font-family: 'RijksoverheidSerifWeb';
}
@font-face {
  font-style: italic;
  font-weight: 400;
  src:
    local('ROserifwebitalic'),
    url('./ro/ROserifwebitalic.woff') format('woff'),
    url('./ro/ROserifwebitalic.eot') format('embedded-opentype'),
    url('./ro/ROserifwebitalic.ttf') format('truetype');
  font-family: 'RijksoverheidSerifWeb';
}

/* adjusted Arial */
@font-face {
  font-family: 'Arial Adjusted';
  size-adjust: 91%;
  ascent-override: 97%;
  descent-override: 28%;
  line-gap-override: normal;
  src: local('Arial');
}

/* adjusted Verdana */
@font-face {
    font-family: 'Verdana Adjusted';
    size-adjust: 91%;
    ascent-override: 99%;
    descent-override: 30%;
    line-gap-override: 0%;
    src: local(Verdana);
}
