:root {
  --rhc-font-family-primary: 'RijksoverheidSansWeb', Arial, Verdana, sans-serif;
  --utrecht-paragraph-font-family: var(--rhc-font-family-primary);
  --rhc-font-size-xl-mobile: 2.5rem;
  --rhc-font-size-xl-tablet: 2.5rem;
  --rhc-font-size-xl-desktop: 2.5rem;
  --rhc-font-size-lg-mobile: 2rem;
  --rhc-font-size-lg-tablet: 2rem;
  --rhc-font-size-lg-desktop: 2rem;
  --rhc-font-size-md-mobile: 1.5rem;
  --rhc-font-size-md-tablet: 1.5rem;
  --rhc-font-size-md-desktop: 1.5rem;
  --rhc-font-size-sm-mobile: 1rem;
  --rhc-font-size-sm-tablet: 1.25rem;
  --rhc-font-size-sm-desktop: 1.125rem;
  --rhc-font-size-xs-mobile: 1rem;
  --rhc-font-size-xs-tablet: 1rem;
  --rhc-font-size-xs-desktop: 1rem;
  --rhc-font-size-body-default: 1rem;
  --rhc-font-size-body-intro: 1.25rem;
  --rhc-font-size-heading-level-5: 1rem;
  --rhc-font-size-heading-level-4: 1.25rem;
  --rhc-font-size-heading-level-3: 1.5rem;
  --rhc-font-size-heading-level-2: 1.75rem;
  --rhc-font-size-heading-level-1: 2rem;
  --utrecht-document-font-family: var(--rhc-font-family-primary);
  --utrecht-document-font-size: 1rem;
  --nl-paragraph-font-family: var(--rhc-font-family-primary);
  --nl-paragraph-font-size: 1rem;
  --utrecht-paragraph-font-size: var(--nl-paragraph-font-size);
  --utrecht-ordered-list-font-size: var(--nl-paragraph-font-size);
  --utrecht-unordered-list-font-size: var(--nl-paragraph-font-size);
  --utrecht-alert-icon-inset-block-start: 0;
  --utrecht-link-hover-text-decoration-thickness: 1px;
  --utrecht-badge-list-column-gap: 0.25rem;
  --utrecht-badge-list-row-gap: 0.25rem;
  --rhc-data-badge-button-column-gap: 0.25rem;
  --rhc-data-summary-font-family: var(--rhc-font-family-primary);
  --rhc-data-summary-font-size: 1rem;
  --utrecht-textbox-font-family: var(--rhc-font-family-primary);
  --utrecht-textbox-font-size: 1rem;
  --utrecht-textbox-line-height: 1;
  --utrecht-textbox-focus-border-width: var(--utrecht-textbox-border-width, 1px);

  /* not available in RHC */

  /* Uncomment each custom property you need */
  /* --utrecht-pagination-font-size: <length>; */
  /* --utrecht-pagination-font-family: *; */
  --utrecht-pagination-margin-block-start: 0;
  --utrecht-pagination-margin-block-end: 0.5rem;
  --utrecht-pagination-page-link-background-color: var(--utrecht-button-secondary-action-background-color);
  --utrecht-pagination-page-link-border-color: var(--utrecht-button-secondary-action-border-color);
  --utrecht-pagination-page-link-border-radius: 4px;
  --utrecht-pagination-page-link-border-width: 1px;
  --utrecht-pagination-page-link-color: var(--utrecht-button-secondary-action-color);
  --utrecht-pagination-page-link-font-weight: normal;
  --utrecht-pagination-page-link-padding-inline-end: 1rem;
  --utrecht-pagination-page-link-padding-inline-start: 1rem;
  --utrecht-pagination-page-link-padding-block-end: 0.5rem;
  --utrecht-pagination-page-link-padding-block-start: 0.5rem;
  /* --utrecht-pagination-page-link-text-decoration: inherit,none,underline; */
  --utrecht-pagination-page-link-current-background-color: var(--utrecht-button-primary-action-background-color);
  --utrecht-pagination-page-link-current-border-color: var(--utrecht-button-primary-action-border-color);
  --utrecht-pagination-page-link-current-color: var(--utrecht-button-primary-action-color);
  --utrecht-pagination-page-link-distanced-margin-inline-start: 0.5rem;
  --utrecht-pagination-page-link-hover-background-color: var(--utrecht-button-secondary-action-hover-background-color);
  --utrecht-pagination-page-link-hover-border-color: var(--utrecht-button-secondary-action-border-color);
  --utrecht-pagination-page-link-hover-color: var(--rhc-nav-bar-color);
  /* --utrecht-pagination-relative-link-background-color: <color>; */
  --utrecht-pagination-relative-link-border-color: transparent;
  --utrecht-pagination-relative-link-border-radius: 4px;
  --utrecht-pagination-relative-link-border-width: 1px;
  --utrecht-pagination-relative-link-color: var(--rhc-nav-bar-color);
  /* --utrecht-pagination-relative-link-font-weight: <number>; */
  --utrecht-pagination-relative-link-padding-inline-end: 1rem;
  --utrecht-pagination-relative-link-padding-inline-start: 1rem;
  --utrecht-pagination-relative-link-padding-block-end: 0.5rem;
  --utrecht-pagination-relative-link-padding-block-start: 0.5rem;
  /* --utrecht-pagination-relative-link-text-decoration: inherit,none,underline; */
  /* --utrecht-pagination-relative-link-text-transform: inherit,uppercase; */
  --utrecht-pagination-relative-link-distanced-margin-inline-end: 0.5rem;
  --utrecht-pagination-relative-link-distanced-margin-inline-start: 0.5rem;
  --utrecht-pagination-relative-link-hover-background-color: var(--utrecht-button-secondary-action-hover-background-color);
  --utrecht-pagination-relative-link-hover-border-color: var(--utrecht-button-secondary-action-hover-background-color);
  /* --utrecht-pagination-relative-link-hover-color: <color>; */
  /* --utrecht-pagination-relative-link-disabled-background-color: <color>; */
  /* --utrecht-pagination-relative-link-disabled-color: <color>; */
}

.utrecht-document {
  background-color: var(--utrecht-document-background-color, #ffffff);
}

.utrecht-html p + p {
  --utrecht-paragraph-margin-block-start: 0.5rem;
  margin-block-start: calc(var(--utrecht-space-around, 0) * var(--utrecht-paragraph-margin-block-start, 0));
}

.utrecht-icon {
  /* removes extra space around the icon */
  display: block;
}

html {
  scrollbar-color: var(--rhc-color-cool-grey-400) var(--rhc-color-cool-grey-50);
}
