html {
  box-sizing: border-box;
  scrollbar-gutter: stable both-edges;
  scroll-behavior: smooth;
}

html:lang(nl) {
  -webkit-hyphenate-limit-before: 8;
  -webkit-hyphenate-limit-after: 4;
  hyphenate-limit-chars: 12 8 4;

  -webkit-hyphenate-limit-lines: 2;
  hyphenate-limit-lines: 2;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

svg {
  flex-shrink: 0;
}
