---
// import CopyButton from "../../../../packages/components/src/copyButton/CopyButton";

import Block from "../../../../packages/components/src/block/Block";
import appConfig from "../../app.config";
import { DonBasic } from "@developer-overheid-nl/don-register-layouts"; // TODO: PageLayout
---

<DonBasic appConfig={appConfig} titlePage="API toevoegen">
    <h2>API toevoegen</h2>
    <Block>
      🧑‍💻ℹ️
    </Block>
</DonBasic>
