---
import appConfig from "../../app.config";
import { DonOverview } from "@developer-overheid-nl/don-register-layouts";
import { Card } from "@developer-overheid-nl/don-register-components";
import FetchContainer from "../../../../packages/components/src/FetchContainer";
import { fetchAPI } from "@developer-overheid-nl/don-register-components/fetch";

const apiKey = import.meta.env.API_X_API_KEY;

console.log("SSR API key:", import.meta.env.API_X_API_KEY);

const data = await fetchAPI(
  "https://api.don.apps.digilab.network/api-register/v1/apis",
  apiKey
);
console.log("Fetched data in SSR:", data);
---

<DonOverview appConfig={appConfig} titlePage="Overzicht">
  <div>
    <FetchContainer data={data} />
    <Card client:load test="Test Title" />
  </div>
</DonOverview>
