---
import { API_ENDPOINT, API_VERSION } from "astro:env/client";
import { API_X_API_KEY } from "astro:env/server";
import appConfig from "../../app.config";
import { DonOverview } from "@developer-overheid-nl/don-register-layouts";

const res = await fetch(`${API_ENDPOINT}/${API_VERSION}/apis`, {
  headers: {
    'x-api-key': API_X_API_KEY,
  },
});
const data = await res.json();
---

<DonOverview appConfig={appConfig} titlePage="Overzicht">
  <div>
    <pre>{JSON.stringify(data, null, 2)}</pre>
  </div>

  <script type="application/json" id="api-data-json">
    {JSON.stringify(data)}
  </script>
  <script>

    (() => {
      const dataTag = document.getElementById('api-data-json');
      if (dataTag) {
        if (dataTag.textContent !== null) {
          const data = JSON.parse(dataTag.textContent);
          localStorage.setItem('apiData', JSON.stringify(data));
          localStorage.setItem('apiLastUpdated', new Date().toISOString());
          console.log('Fetched data:', data);
        }
      }
    })();
  </script>
</DonOverview>
