.filters {
  display: flex;
  flex-direction: column;
  row-gap: var(--rhc-space-200);
}

.currentFilter {
  flex-direction: column;
}

.active {
  font-weight: bold;
}

.icon {
  flex-shrink: 0;
  transition: transform 0.2s ease-in-out;
}

:global(.utrecht-link-list__link:hover) .icon:not(.active) {
  transform: translateX(0.125rem);
}

.icon.active {
  transform: scale(1.5);
}
