.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 0 0.5rem;

  > * {
    flex-basis: 33.3333%;
  }
}

.lint {
  align-self: flex-start;
}

.title {
  margin-inline-start: 1rem;
  text-align: end;
}

.heading {
  margin: 0;
  margin-block-end: 0.5rem;
}

.link.link:any-link {
  text-decoration-line: none;
  align-items: center;
  transition: all 0.25s ease-in-out;
}

.link.link:any-link:hover {
  text-decoration-line: underline;
  /* first skip-ink needed for Chromium browsers, otherwise .nl-link `none` is used */
  text-decoration-skip-ink: auto;
  text-decoration-skip-ink: all; /* bugged in Chromium */

  .icon {
    transform: translateX(-0.0625rem);
  }
}

.icon {
  fill: currentColor;
  block-size: 0.875rem;
  inline-size: 0.875rem;
  transition: all 0.25s ease-in-out;
}
