.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 0 0.5rem;

  > * {
    flex-basis: 33.3333%;
  }
}

@media (--xxs-and-below-viewport) {
  .header {
    flex-direction: column;

    > * {
      flex-basis: auto;
    }
  }
}

@media (--xs-and-below-viewport) {
  .header {
    flex-wrap: wrap;
    row-gap: 0.5rem;

    > * {
      flex-basis: auto;
      order: 2;
    }
  }

  .lint {
    flex-basis: 100%;
    order: 1;
  }
}

.title {
  margin-inline-start: 1rem;
  text-align: end;
}

.heading {
  margin: 0;
  margin-block-end: 0.5rem;
}

.icon {
  inline-size: 0.875rem;
  block-size: 0.875rem;
  fill: currentColor;
  transition: all 0.25s ease-in-out;
}

.link.link:any-link {
  align-items: center;
  text-decoration-line: none;
  transition: all 0.25s ease-in-out;
}

.link.link:any-link:hover {
  text-decoration-line: underline;
  /* first skip-ink needed for Chromium browsers, otherwise .nl-link `none` is used */
  text-decoration-skip-ink: auto;
  text-decoration-skip-ink: all; /* bugged in Chromium */

  .icon {
    transform: translateX(-0.0625rem);
  }
}
