.alignBox {
  display: flex;
  inline-size: 100%;

  :global(.no-shrink) {
    flex-shrink: 0;
  }
}

.inline {
  inline-size: max-content;
}

.block {
  inline-size: 100%;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.left {
  align-items: center;
  justify-content: flex-start;
}

.center,
.middle {
  align-items: center;
  justify-content: center;
}

.right {
  align-items: center;
  justify-content: flex-end;
}

.top {
  align-items: flex-start;
  justify-content: center;
}

.bottom {
  align-items: flex-end;
  justify-content: center;
}

.topLeft {
  align-items: flex-start;
  justify-content: flex-start;
}

.topRight {
  align-items: flex-start;
  justify-content: flex-end;
}

.bottomLeft {
  align-items: flex-end;
  justify-content: flex-start;
}

.bottomRight {
  align-items: flex-end;
  justify-content: flex-end;
}

.stretch {
  align-items: stretch;
  justify-content: stretch;
}

.spaceBetween {
  align-items: center;
  justify-content: space-between;
}

.spaceAround {
  align-items: center;
  justify-content: space-around;
}

.spaceEvenly {
  align-items: center;
  justify-content: space-evenly;
}

.gapNone {
  gap: 0;
}

.gapSmall {
  gap: 0.5rem;
}

.gapMedium {
  gap: 1rem;
}

.gapLarge {
  gap: 2rem;
}
