:global(.rhc-data-summary) {
  --rhc-data-summary-item-key-padding-inline-start: 0;
  --rhc-data-summary-item-key-padding-inline-end: 0;
  --rhc-data-summary-item-key-padding-block-start: 0;
  --rhc-data-summary-item-key-padding-block-end: 0;
  --rhc-data-summary-item-value-padding-inline-start: 0;
  --rhc-data-summary-item-value-padding-inline-end: 0;
  --rhc-data-summary-item-value-padding-block-start: 0;
  --rhc-data-summary-item-value-padding-block-end: 0;
  --rhc-data-summary-item-action-padding-inline-start: 0;
  --rhc-data-summary-item-action-padding-inline-end: 0;
  --rhc-data-summary-item-action-padding-block-start: 0;
  --rhc-data-summary-item-action-padding-block-end: 0;
  --rhc-data-summary-item-key-row-padding-inline-start: 0;
  --rhc-data-summary-item-key-row-padding-inline-end: 0;
  --rhc-data-summary-item-key-row-padding-block-start: 0;
  --rhc-data-summary-item-key-row-padding-block-end: 0.75rem;
  --rhc-data-summary-item-value-row-padding-inline-start: 0;
  --rhc-data-summary-item-value-row-padding-inline-end: 0;
  --rhc-data-summary-item-value-row-padding-block-start: 0;
  --rhc-data-summary-item-value-row-padding-block-end: 0.75rem;
  --rhc-data-summary-item-action-row-padding-inline-start: 0;
  --rhc-data-summary-item-action-row-padding-inline-end: 0;
  --rhc-data-summary-item-action-row-padding-block-start: 0;
  --rhc-data-summary-item-action-row-padding-block-end: 0.75rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
  margin-block-start: 0;
  margin-block-end: 1rem;
}

:global(.rhc-data-summary__item) {
  row-gap: 0.75rem;
  column-gap: 1rem;
}

:global(.rhc-data-summary--column) {
  :global(.rhc-data-summary__item) {
    padding-block-end: var(--rhc-data-summary-item-key-row-padding-block-end);
  }
}

:global(.rhc-data-summary--row) {
  :global(.rhc-data-summary__item) {
    justify-content: space-between;
  }

  :global(.rhc-data-summary__item-value:last-child) {
    text-align: end;
  }
}

:global(.rhc-data-summary__item-key):empty,
:global(.rhc-data-summary__item-value):empty {
  display: none;
}

:global(.rhc-data-summary__item-value) {
  hyphens: auto;
  word-break: break-word;
}

.isContained {
  margin-block-end: 0;
  :global(.rhc-data-summary__item:last-child) {
    --rhc-data-summary-item-border-block-end-style: none;
    --rhc-data-summary-item-key-row-padding-block-end: 0;
  }
}
