.logo {
  display: grid;
  width: max-content;
  grid-template-areas:
    'vignet don'
    'payoff payoff';
  grid-template-columns: 2rem auto;
  column-gap: 0.25rem;
  row-gap: 0.125rem;

  &.forced-dark {
    background-color: #000000;
    outline: 0.25rem solid #000000;
  }
}

.vignet {
  grid-area: vignet;
  height: 1.5rem;
  margin-block-end: 0.25rem;
}

.rsaquo {
  color: #01689b;
}

.lowbar {
  color: #8fcae7;
}

.don {
  grid-area: don;
  align-self: end;
  color: #000000;
  height: 1.5rem;
}

.payoff {
  grid-area: payoff;
  color: #01689b;
  height: 0.825rem;
}

@media (prefers-color-scheme: dark) {
  .logo:not(.forced-light) {
    .rsaquo {
      color: #66a4c3;
    }
    .lowbar {
      color: #cce7f4;
    }
    .don {
      color: #ffffff;
    }
    .payoff {
      color: #cce7f4;
    }
  }
}

@media (forced-colors: active) {
  .rsaquo {
    color: #0f172a;
  }
  .lowbar {
    color: #475569;
  }
  .payoff {
    color: #0f172a;
  }
}

@media (forced-colors: active) and (prefers-color-scheme: dark) {
  .rsaquo {
    color: #e2e8f0;
  }
  .lowbar {
    color: #f8fafc;
  }
  .don {
    color: #ffffff;
  }
  .payoff {
    color: #e2e8f0;
  }
}
