.input.input {
  --utrecht-textbox-max-inline-size: none;
  --utrecht-pointer-target-min-size: 36px;
  /* field-sizing: content; */
  inline-size: -webkit-fill-available;
}

.normal {
  font-variant: normal;
}

.input.slashed-zero {
  /* find a way to use RO font with slashed zero */
  font-variant-numeric: slashed-zero;
}

.input.monospace {
  font-family: monospace;
}
